In [35]:
import pandas as pd
import sqlite3

In [42]:
con = sqlite3.connect("timetable.db")
con.row_factory = sqlite3.Row
timetable = pd.read_csv("timetable.csv")

In [13]:
timetable

     lines  hour  minute  time    wed
0        3     6      31   631  False
1        3     6      56   656  False
2        3     7       8   708  False
3        3     7      15   715  False
4        3     7      21   721  False
5        3     7      27   727  False
6        3     7      33   733  False
7        3     7      48   748  False
8        3     7      55   755  False
9        3     8       2   802  False
10       3     8       9   809  False
11       3     8      15   815  False
12       3     8      22   822  False
13       3     8      28   828  False
14       3     8      35   835  False
15       3     8      39   835  False
16       3     8      43   843  False
17       3     8      49   849  False
18       3     8      55   855  False
19       3     9       9   909  False
20       3     9      23   923  False
21       3     9      35   935  False
22       3     9      50   950  False
23       3    10       0  1000  False
24       3    10      10  1010  False
25       3    10      20  1020  False
26       3    10      30  1030  False
27       3    10      40  1040  False
28       3    10      50  1050  False
29       3    11       0  1100  False
..     ...   ...     ...   ...    ...
120     40    16      51  1651   True
121     40    16      55  1655  False
122     40    17       0  1700   True
123     40    17      10  1710  False
124     40    17      14  1714  False
125     40    17      30  1730  False
126     40    17      44  1744  False
127     40    17      52  1752  False
128     40    17      59  1759  False
129     40    18      10  1810  False
130     40    18      15  1815   True
131     40    18      20  1820  False
132     40    18      29  1829  False
133     40    18      35  1835  False
134     40    18      40  1840   True
135     40    18      44  1844  False
136     40    18      51  1851  False
137     40    18      59  1859  False
138     40    19      18  1918  False
139     40    19      36  1936  False
140     40    19      48  1948  False
141     40    19      58  1958  False
142     40    20      13  2013  False
143     40    20      25  2025  False
144     40    20      36  2036  False
145     40    20      59  2059  False
146     40    21      19  2119  False
147     40    21      39  2139  False
148     40    22       9  2209  False
149     40    22      39  2239  False

[150 rows x 5 columns]

In [43]:
sql = """
    create table Timetable(
        id integer primary key,
        lines integer,
        hour integer,
        minute integer,
        wednesday integer
    );
"""
con.execute(sql)
con.commit()

In [44]:
time_data = list(zip(
        timetable["lines"],
        timetable["hour"],
        timetable["minute"], 
        timetable["wednesday"]
    ))
# time_data

In [45]:
for l, h, m, w in time_data:
    sql = "insert into Timetable(lines,hour,minute,wednesday) values({}, {}, {},{})".format(l, h, m,w)
    con.execute(sql)
    con.commit()

In [46]:
con.close()

In [82]:
hour = 10
c = con.execute(u"select * from Timetable where hour > {}".format(hour))
for row in c:
    print("{}".format(row["hour"]))

11
11
11
11
12
12
12
12
13
13
13
13
14
14
14
14
14
15
15
15
15
15
16
16
16
16
17
17
17
17
18
18
18
18
18
19
19
19
20
20
21
21
22